@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');


.header__left > h1 {
  font-family: 'Diplomata SC', cursive;
  font-weight: normal;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  position: sticky;
  box-shadow: 0px 5px 8px  -9px rgba(0, 0, 0, 0.75); 
  justify-content: space-between; 
}

.header__left {
  display: flex;
  align-items: center;
  /* padding-right: 50px; */
}

.header > .header__left > img {
  height: 60px;
  object-fit: contain;
}

.header > h3 {
  margin-left: 10px;
}

.header__center {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
 
}

.header__center1 {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.header__center > .header__center1 > .header__centerIcon > .MuiSvgIcon-root {
  color: orange;
}

.header__center > .header__center1 > .header__centerText {
  color: orange;
}

.header__center > .header__center2 > .header__centerIcon > .MuiSvgIcon-root {
  color: orange;
}

.header__center > .header__center2 > .header__centerText {
  color: orange;
}

.header__center2 {
  display: flex;
  align-items: center;
  padding: 0 10px;
}


.header__center1:hover {
  background-color: #eff2f5;
  border-radius: 999px;
  align-items: center;
  border-bottom: none;
  padding: 10px;
}

.header__center2:hover {
  background-color: #eff2f5;
  border-radius: 999px;
  padding: 10px;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: gray;
  /* justify-content: space-between; */
}

.header__options {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}


/* 
.header {
    background-color: white;
    box-shadow: 0px 5px 8px  -9px rgba(0, 0, 0, 0.75); 
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .header_logo {
    width: 100px;
    object-fit: contain;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .header_optionLineOne {
    font-size: 10px;
  }
  
  .header_optionBasket {
    display: flex;
    align-items: center;
  }
  
  .header_BasketCount {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .header_optionLineTwo {
    font-size: 13px;
    font-weight: 800;
  }
  
  .header_link {
    color: white;
    text-decoration: none;
  }
  
  .header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }
  
  .header_searchIcon {
    background-color: orange;
    padding: 5px;
    height: 22px !important;
  }
  
  .header_search {
    display: flex;
    flex: 1;
  }
  
  .header_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
  }
  
  .header_nav {
    display: flex;
    justify-content: space-evenly;
  }

  .header > img {
    height: 60px;
    object-fit: contain;
  } */